@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');

body {
  background: linear-gradient(135deg, #ff80ab, #ff4081); /* pink gradient */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1); /* slightly transparent white */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* blur effect */
  text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.calculator-p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #ff4081;
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  background: #fff;
  color: #333;
}

button {
  background-color: #ff4081;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #f50057;
  transform: scale(1.05);
}

.result {
  margin-top: 20px;
  font-size: 22px;
  color: #f0e6f0;
  background-color: #ff80ab;
  padding: 20px;
  border-radius: 10px;
}

#go-pif {
  background: #ff4081;
  width: 205px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  color: white;
  transition: 0.3s ease-out;
  border: 1px solid #ff4081;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#go-pif:hover {
  background: #f50057;
  color: white;
}

.table, table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table td, table th {
  padding: 12px;
  text-align: center;
  font-size: 16px;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f5e1e6;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ff4081;
  height: 2px;
  border: none;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 28px;
  }
  
  input[type="number"], button {
    width: 100%;
  }
  
  .result {
    font-size: 20px;
  }
}
