@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
  background-color: #f1948a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px); 
    font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');
#go-pif {
    background: rgb(255, 255, 255);
    width: 205px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
    color:#C70039;
    transition: 0.3s ease-out;
    border:1px rgb(172, 172, 172) solid;
    -webkit-box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.63);
-moz-box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.63);
box-shadow: 0px 0px 61px -12px rgba(0,0,0,0.63);
    /* font-family: 'Montserrat Alternates', sans-serif; */
}
#go-pif:hover{
    background: #C70039 ;
    color:white;
    
}

.calculator-2 {
    display: flex;
    gap: 20px;
}
.calculator-2 div {
    display: flex;
    flex-direction: column;
}
.calculator-p{
  /* font-family: 'Cuprum', sans-serif; */
    color: white;
    font-size: 24px;
    padding-bottom: 16px;
}
.container{
    width: 564px;
    margin: 0 auto;
}
.btn{
    text-align: center;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 12px;
  width: 90px;



}
.stp{
  color:  #C70039;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
  
}

.select-selected {
  background-color: #fff;
  border-radius: 15px;

  
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;

}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;

}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black ;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;


}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 300px; 
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-flex{
    display: flex;
    gap: 20px;
}
table{
    background: white;
    border-radius: 15px;
    color:#000000 ;
    -webkit-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 37px -7px rgba(0,0,0,0.49);
}
.extr_num p{
  font-size: 12px;
}
.extr_num_mg {
  margin-bottom: 4px;
}
.btn-table a img{
  width: 50px;
}
.btn-table{
  margin-top: 24px;
  display: flex;
  gap:150px;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}
.btn-table button img{
  width: 50px;
}
.btn-table button{
  border-radius: 15px;
  padding: 10px;
}
hr{
  margin-top: 4px;
  margin-bottom: 4px;
  background-color:#c1a08d;
  height: 2px;
}
.pifagor-char{
  font-size: 22px;
}
@media(max-width:600px){
  td{
    width: 90px;
    height: 90px;
  }
  .calculator-p{
    font-size: 18px;
  }
  input{
    width: 100px;
  }
  .row{
    align-items: flex-start;
    margin-left: 20px;
  }
  .btn-table{
    margin-top: 12px;
    gap:60px;
    justify-content: flex-start;
    padding-bottom: 12px;
  }
  .btn-table button img{
    width: 25px;
  }
  .select-flex{
    gap: 10px;
    width: 50px;
  }
  .select-selected{
    width: 81px;
  }
  .lined::before{
    right: 12%;
    top: 83%;
  }
  .custom-select {
    font-size: 11px;
  
  }

}
